.active a {
	color: $primary !important;
}

.featured-img {
    display: none;
}

.main-feature {
	padding: 3rem 0;
}

.brand-title-header {
	color: $primary;
	font-size: 1.5rem;
}

.box {
	padding: 1rem;
}

.dp {
	max-width: 150px;
}

@media screen and (min-width: 768px) {
    .featured-img {
        display: block;
    }

    .brand-title-header {
    	font-size: 2.25rem;
    }
}

@media screen and (min-width: 992px) {
	.main-feature {
		padding: 6rem 10rem;
	}

	.featured-img {
		max-width: 300px;
	}

	.box {
		margin: 0 .5rem;
		padding: 3rem;
	}
}